# put this in /etc/systemd/system/gamescope-btrfs-lock.service
# sudo systemctl enable /etc/systemd/system/gamescope-btrfs-lock.service

[Unit]
Description=Toggle root Btrfs readonly based on Gamescope
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'while true; do pidof gamescope >/dev/null && btrfs property set / ro true || btrfs property set / ro false; sleep 2; done'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
